@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .text-v-rl {
    writing-mode: vertical-rl;
    text-orientation: upright;
  }
}

:root {
  --color-primary: #6c3524;
  --color-secondary: #0f2350;
  --color-border: #6e7955;
  --color-white: #fbfaf5;
  --color-black: #2b2b2b;
}
